:root {
    --audience-color: #35C759;
    --impact-color: #4887F3;
    --frequency-color: #8A5CF6;
    --dwell-time-color: #FFA500;
    --median-color: #cecece;
    --location-color: #DC3545;
}

.dashboard-container {
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: white;
}

#impact-result {
    margin-top: 15px;
}

h2 i {
    color: black;
}

section h2 {
    color: black;
}
/* ===================== SECTION TOTAL ===================== */
#total {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.section-title {
    margin-bottom: 15px;
    gap: 10px;
    background: #ffffff;
    color: black;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.total-container.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.total-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 1000px;
    opacity: 1;
    border-radius: 10px;
}

.metric-card {
    background-color: #a1a1a178;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.metric-card:nth-child(1) .icon {
    color: var(--audience-color);
}

.metric-card:nth-child(2) .icon {
    color: var(--impact-color);
}

.metric-card:nth-child(3) .icon {
    color: var(--frequency-color);
}

.metric-card:nth-child(4) .icon {
    color: var(--dwell-time-color);
}

.metric-card:nth-child(5) .icon {
    color: var(--median-color);
}

.metric-card:nth-child(6) .icon {
    color: var(--location-color);
}


.chart-data-table::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.chart-data-table::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

.chart-data-table::-webkit-scrollbar-thumb {
    background: #35C759;
    border-radius: 10px;
}

.chart-data-table::-webkit-scrollbar-thumb:hover {
    background: #2fa746;
}

.icon {
    font-size: 26px;
    color: black;
}

.info {
    text-align: right;
}

.info span {
    display: block;    
    font-size: 12px;
    color: #777;
}

.info h2 {    
    font-size: 24px;
    margin: 8px 0 0;
    font-weight: bold;
    /* color: #fff; */
    letter-spacing: 1px;
}
/* ===================== SECTION ENDEREÇOS ===================== */
#address {
    padding: 20px;
    border-radius: 10px;
    background-color:#f9f9f9;
}

#address h2 {
    margin-bottom: 15px;
    gap: 10px;
    background: #ffffff;
    color: black;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.address-container {
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 1000px;
    opacity: 1;
}

.address-scroll-wrapper {
    max-height: 800px;
    overflow-x: auto;
}

.address-scroll-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.address-scroll-wrapper::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}
.address-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #35C759;
    border-radius: 10px;
}
.address-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #2fa746;
}

.address-container.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.address-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #a1a1a178;
    border-radius: 8px;
    overflow: hidden;
}

.address-table thead {
    background-color: #f0f0f0;
    color: #777;
    cursor: pointer;
}

.address-table th,
.address-table td {
    padding: 12px;
    text-align: center;
    color: black;
    border-bottom: 1px solid #ffffff;
}

.address-table th:nth-child(2) {
    color: var(--audience-color);
}

.address-table th:nth-child(3) {
    color: var(--impact-color);
}

.address-table th:nth-child(4) {
    color: var(--frequency-color);
}

.address-table th:nth-child(5) {
    color: var(--dwell-time-color);
}

.address-table th:nth-child(6) {
    color: var(--median-color);
}

.address-table tbody tr:hover {
    background-color: #f0f0f0;
}

.address-table th .sort-icon {
    margin-left: 5px;
    font-size: 12px;
}

.toggle-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .address-table {
        font-size: 12px;
    }
}


/* ===================== SECTION AVG ===================== */
#avg {
    padding: 20px;
    border-radius: 10px;
    background-color:#f9f9f9;
    margin-top: 20px;
}

#avg h2 {
    margin-bottom: 15px;
    gap: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.avg-container {
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}

.avg-container.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

#avg canvas {
    max-height: 350px;
}


/* ===================== SECTION AUDIENCE-IMPACT ===================== */
#audience-impact {
    padding: 20px;
    border-radius: 10px;
    background-color:#f9f9f9;
    margin-top: 20px;
}

#audience-impact h2 {
    margin-bottom: 15px;
    gap: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.audience-impact-container {
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}

.audience-impact-container.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.audience-impact-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.chart-container {
    flex: 1.5;
    overflow-x: auto;
    height: 400px;
}

#audience-impact canvas {
    width: 100% !important;
    height: 350px !important;
}

.chart-scroll-container::-webkit-scrollbar {
    height: 8px;
}
.chart-scroll-container::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}
.chart-scroll-container::-webkit-scrollbar-thumb {
    background: #35C759; 
    border-radius: 10px;
}
.chart-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #2fa746;
}

.audience-table thead, .audience-table-weekly thead {
    cursor: pointer;
}

.audience-table th:nth-child(2), .audience-table-weekly th:nth-child(2) {
    color: var(--audience-color);
}

.audience-table th:nth-child(3), .audience-table-weekly th:nth-child(3) {
    color: var(--impact-color);
}

.audience-table th:nth-child(4), .audience-table-weekly th:nth-child(4) {
    color: var(--dwell-time-color);
}

.chart-data-table {
    background-color: #a1a1a178;
    padding: 10px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    margin-left: 20px;
    flex: 1;
    font-size: 14px;
}

.chart-data-table table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.chart-data-table th, .chart-data-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    color: black;
}

.chart-data-table thead {
    background-color: #f0f0f0;
    color: #777;
}

.chart-data-table tbody {
    background-color: #9ca3af0a;
}

/* ===================== SECTION RECURRENCE ===================== */
#recurrence {
    padding: 20px;
    border-radius: 10px;
    background-color:#f9f9f9;
    margin-top: 20px;
}

#recurrence h2 {
    margin-bottom: 15px;
    gap: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.recurrence-container {
    padding: 25px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}

.recurrence-container.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.chart-recurrence-container {
    flex: 1.5;
    overflow-x: auto;
    height: 550px;
    border-radius: 10px;
}

.recurrence-table {
    border-collapse: collapse;
    background-color: #a1a1a178;
    border-radius: 8px;
    overflow: hidden;
    font-size: 18px;
}

.recurrence-table th, .recurrence-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    color: black;
}

.recurrence-table thead {
    background-color: #f0f0f0;
    color: #777;
    cursor: pointer;
}

/* ===================== SECTION CAMERAS ===================== */
#cameras {
    padding: 20px;
    border-radius: 10px;
    background-color:#f9f9f9;
    margin-top: 20px;
}

#cameras h2 {
    margin-bottom: 15px;
    gap: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.cameras-container {
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}

.cameras-container.collapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.cameras-table {
    width: 100%;
    border-collapse: collapse;
    /* background-color: #a1a1a178; */
    border-radius: 8px;
    overflow: hidden;
}

.cameras-table thead {
    cursor: pointer;
}

.cameras-table th, .cameras-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: black;
}

.chart-cameras-container {
    flex: 1.5;
    overflow-x: auto;
    height: 400px;
    white-space: nowrap;
}

.chart-body-cameras canvas {
    width: 100% !important;
    height: 380px !important;
}

/* ===================== SECTION LOADING ===================== */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}